body {
  background-color: lightgray;
  font-family: Verdana, sans-serif;
}

.details {
  border: 1px solid gray;
  padding: 25px;
}

.details ul {
  list-style: none;
}

.details ul li {
  margin-bottom: 10px;
}
